
.container{
    max-width: 1200px;
}
.bg-blue{
    /* background-color: #0065ff; */
background-color: rgb(0, 105, 255);
color: white;
}

.bg-grey{
    background-color: #f3f5f9;
}

.bg-grey,
.bg-white {
    color:#5b6989;
}

.bg-world{
    background: rgb(3, 27, 78) url("https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format") no-repeat scroll 50% 50% / cover;
}
}
.bg-blue,
.bg-world,
footer {
    color:white;
}

footer {
    background-color: #010e28;
}



/* START BANNER  */
#banner {
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-position: center;
    background-size: cover;

}
